<% provide :title, t(".help") %>
<h1><%= t ".help" %></h1>
<p>
  <%= t ".p1" %>
  <%= link_to raw(t ".body_link_1"), t(".link_1") %>
  <%= t ".p2" %>
  <%= link_to raw(t ".body_link_2"), t(".link_2") %>
</p>
