<% provide :title, t(".help") %>
<h1><%= t ".help" %></h1>
<p>
  <%= t ".text_1" %>
  <%= link_to raw(t ".help_link"), "http://www.railstutorial.org/help" %>
  <%= t ".text_2" %>
  <%= link_to raw(t ".book_link"), "http://www.railstutorial.org/book" %>
</p>
